
.c {
    max-width: 100%;
    width: 100%;
    height: 20vh;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    will-change: transform, opacity;
  }
  
  .front,
  .back {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .back {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/ieee-website-f4149.appspot.com/o/Contact%2FInfo%2FIsha%2Fisha.PNG?alt=media&token=e4897e39-a695-4965-9882-24329186e75e);
  }
  
  .front {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/ieee-website-f4149.appspot.com/o/Contact%2FInfo%2FIsha%2FIshaEmail.PNG?alt=media&token=80c96c91-83df-44dc-a5af-e5a5be6a12dd);
  }
  
  .OuterCard{
    padding: 65px;
    margin-top: 50px;
    margin-left: -60px;
    max-width: 100%;
    max-height: 10vh;
    border-radius: 10px;
    width:100%
  }

  .AinalFront,
  .AinalBack {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .AinalBack{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/ieee-website-f4149.appspot.com/o/Contact%2FInfo%2FAinal%2FAinalSir3.PNG?alt=media&token=15e5c16c-ad57-4dc0-b13d-054e96339d38);
  }

  .AinalFront {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/ieee-website-f4149.appspot.com/o/Contact%2FInfo%2FAinal%2FAinalEmail.PNG?alt=media&token=de776e8d-ca09-46f8-b593-dcd82514ddf8);
  }

  .VinodFront,
  .VinodBack {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .VinodBack{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/ieee-website-f4149.appspot.com/o/Contact%2FInfo%2FVinod%2FVinodSir.PNG?alt=media&token=65e11cb5-9238-4a3d-964f-5492deb214df);
  }

  .VinodFront {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/ieee-website-f4149.appspot.com/o/Contact%2FInfo%2FVinod%2FVinodEmail.PNG?alt=media&token=4391c5c2-335e-4c52-9c9e-e0490173f502);
  }

  .NavinFront,
  .NavinBack {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .NavinBack{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/ieee-website-f4149.appspot.com/o/Contact%2FInfo%2FNavin%2FNavin.PNG?alt=media&token=b5db283b-1766-4689-b4cd-cfa15a7adc6e);
  }

  .NavinFront {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/ieee-website-f4149.appspot.com/o/Contact%2FInfo%2FNavin%2FNavinEmail.PNG?alt=media&token=3abe7d76-b3d7-4418-8f1d-cda10405ba9e);
  }

  .NiraliFront,
  .NiraliBack {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .NiraliBack{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/ieee-website-f4149.appspot.com/o/Contact%2FInfo%2FNirali%2FNirali.PNG?alt=media&token=849a40e9-71ce-4d00-8337-8e9aa7da7a64);
  }

  .NiraliFront {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/ieee-website-f4149.appspot.com/o/Contact%2FInfo%2FNirali%2FNiraliEmail.PNG?alt=media&token=7145f3d3-23d9-4f45-98a3-fc5b64f2a8f8);
  }

  .NishantFront,
  .NishantBack {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .NishantBack{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/ieee-website-f4149.appspot.com/o/Contact%2FInfo%2FNishant%2FNishant.PNG?alt=media&token=172852e3-2bd1-4bf2-8935-15713c1e6fe3);
  }

  .NishantFront {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/ieee-website-f4149.appspot.com/o/Contact%2FInfo%2FNishant%2FNishantEmail.PNG?alt=media&token=d83ce502-74ba-4291-bada-8cee4df0a207);
  }