html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif !important;
}

.bottomNavbar {
  background-color: #042482 !important;
  height: 80px !important;
  width: 100%;
}

.MuiBottomNavigationAction-root {
  color: #9ba4b4 !important;
}

.MuiBottomNavigationAction-root.Mui-selected {
  color: white !important;
}


.landingContent {
  position: relative !important;
}

.nav {
  position: fixed !important;
  bottom: 0 !important;
  width: 100vw !important;
  padding: 0 !important;
  z-index: 100;
}

.floatBtn {
  position: relative !important;
  bottom: 48px !important;
  background: linear-gradient( -180deg, rgba(0,0,0,0) 48%, white 47% );
  height: 100px !important;
  width: 100px !important;
  box-shadow: none !important;
}

.MuiFab-root{
  background-color: rgba(0,0,0,0) !important;
}

.MuiAvatar-root {
  width: 100px !important;
  height: 100px !important;
}



/* .navLogo {
  font-size: large !important;
} */

.mainLand div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3{
  width: 100%;
  margin: 0;
}


/* All for About Us */
/* div .top{
  background-color: #1f6f8b;
}

div .gap1 {
  bottom: 0px;
  margin: 0px auto;
  padding: 20px 50px;
}
div .top h1{
  margin: auto 100px;
}

div .parallax-container{
  position: relative;
}
div .gap2{
  padding: 20px 50px;
  background-color: #99a8b2 ;
}

div .section.white{
  padding: 0px 0px;
}
div .title{
  background-color: #99a8b2;
  padding: 50px 50px;
}
  

div .row{
  margin: 0px 0px;
  padding: 50px 50px;
} */


/* new additions to About Us Page Styles */
